<mat-card style="margin: 15px" class="mat-elevation-z4">

  <mat-card-title>
    Hi!
  </mat-card-title>

  <mat-card-subtitle>
    This is a really fast draft, so don't be too strict. Some parts has been taken from
    another my angular project, like themePicker for example, or localStorageService.
    I haven't tried to do something to big here and i hope that task was understood and done correctly.
  </mat-card-subtitle>

  <mat-card-content>
    <li>In sidebar some elements are invisible while you aren't logged in.</li>
    <li>Tags page is also a part of my other project, i thought that site was too empty.</li>
    <li>Widgets on dashboard page are connected to different API, lists of them you can find lower.</li>
  </mat-card-content>

</mat-card>
