<div style="margin: 15px; display: flex; flex-direction: column;">

  <h2>Requests</h2>
  <p>Select the request you want to test.</p>

  <mat-card style="background-color: hsla(210, 100%, 56%, 0.4);" class="mat-elevation-z6 flex-row">
    <button mat-raised-button (click)="navigateToRequestPage('get')"
            style="background-color: #1e90ff; min-width: 125px; color: white">
      GET
    </button>
    <div style="display: flex; margin-left: 10px" class="vertical-center-text">
      Go to 'GET' request page
    </div>
  </mat-card>

  <mat-card style="background-color: hsla(146, 50%, 36%, 0.3); margin-top: 15px" class="mat-elevation-z6 flex-row">
  <button mat-raised-button (click)="navigateToRequestPage('post')"
            style="background-color: #2e8b57; min-width: 125px; color: white">
      POST
    </button>
    <div style="display: flex; margin-left: 10px" class="vertical-center-text">
      Go to 'POST' request page
    </div>
  </mat-card>

  <mat-card style="background-color: hsla(33, 100%, 50%, 0.3); margin-top: 15px" class="mat-elevation-z6 flex-row">
  <button mat-raised-button (click)="navigateToRequestPage('put')"
            style="background-color: #ff8c00; min-width: 125px; color: white">
      PUT
    </button>
    <div style="display: flex; margin-left: 10px" class="vertical-center-text">
      Go to 'PUT' request page
    </div>
  </mat-card>

  <mat-card style="background-color: hsla(0, 100%, 50%, 0.3); margin-top: 15px" class="mat-elevation-z6 flex-row">
  <button mat-raised-button (click)="navigateToRequestPage('delete')"
            style="background-color: #ff0000; min-width: 125px; color: white">
      DELETE
    </button>
    <div style="display: flex; margin-left: 10px" class="vertical-center-text">
      Go to 'DELETE' request page
    </div>
  </mat-card>

</div>
