@import '~@angular/material/theming';
@include mat-core();

.deep-purple-amber-theme {
  $indigo-pink-theme: mat-light-theme((
    color: (
      primary: mat-palette($mat-deep-purple),
      accent: mat-palette($mat-amber),
      warn: mat-palette($mat-red),
    )
  ));
  @include angular-material-color($indigo-pink-theme);
}

.indigo-pink-theme {
  $indigo-pink-theme: mat-light-theme((
    color: (
      primary: mat-palette($mat-indigo),
      accent: mat-palette($mat-pink),
      warn: mat-palette($mat-red),
    )
  ));
  @include angular-material-color($indigo-pink-theme);
}

.pink-blue-grey-theme {
  $pink-blue-grey-theme: mat-dark-theme((
    color: (
      primary: mat-palette($mat-pink),
      accent: mat-palette($mat-blue-grey),
      warn: mat-palette($mat-red),
    )
  ));
  @include angular-material-color($pink-blue-grey-theme);
}

.purple-green-theme {
  $purple-green-theme: mat-dark-theme((
    color: (
      primary: mat-palette($mat-deep-purple),
      accent: mat-palette($mat-green),
      warn: mat-palette($mat-red),
    )
  ));
  @include angular-material-color($purple-green-theme);
}
